<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="Shortcut Icon" href="/img/icon.png">
  <title>SemanticAwesome : the best way to find what you need.</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1><span class="blue">Sem</span><span class="red">ant</span><span class="yellow">ic</span><span class="blue">Awe</span><span class="red">some</span></h1>

  <input id="searchQuery" type="text" class="search-input">

  <button id="searchButton"> GO! </button>
  <script>
    document.getElementById("searchButton").addEventListener('click', function() {
    window.location = "/search?q="+searchQuery.value;
    })
  </script>

</body>
</html>