<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="Shortcut Icon" href="/img/icon.png">
  <title>SemanticAwesome : the best way to find what you need.</title>
</head>
<body>
  <div class="bodyDiv">
    <h1><span class="blue">Sem</span><span class="red">ant</span><span class="yellow">ic</span><span class="blue">Awe</span><span class="red">some</span></h1>
    
    <div class="inputSearch">
      <input id="searchQuery" type="text" class="search-input">

      <img id="search-img" src="/img/Search.png"></img>
    </div>
  <script>
    document.getElementById("search-img").addEventListener('click', function() {
      window.location = "/search?q="+searchQuery.value;
    })
  </script>

</body>
</html>