html { 
  background: url(/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin:0;
}

h1 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
  font-size: 80px;
  margin:0;
  padding:30px 10px;
  text-align: center;
}

.blue {
  color:#2070e9;
}
.red {
  color:#d94739;
}
.yellow {
  color:#fdb72f;
}

h2 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
  font-size: 20px;
  margin:0;
  padding:30px 10px;
  text-align: center;
  color: #ddd;
}

small {
  font-family:Helvetica;
  font-weight: bold;
  color: #666;
}

.main {
  text-align: center;
}

.bodyDiv {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}

.inputSearch:hover {
  box-shadow: 0px 0px 8px 2px #66CD00;
}

.inputSearch {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    /* give it dimensions */
    width: 600px;
    height: 61px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 2px #000;
}

.search-input {
  position: relative;
  width: 500px;
  line-height: 30px;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: 0;
  margin-top: 0%;
  margin-bottom: 0%;
  border:1px solid #fff;
}

#search-img {
    cursor: hand;
    position: absolute;
    width: 56px; /* you can use % */
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0%;
    margin-left: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#search-img:hover {
    cursor: pointer;
    webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.ui-autocomplete .highlight {
  text-decoration: underline;
}
