html { 
  background: url(/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin:0;
}

h1 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
  font-size: 80px;
  margin:0;
  padding:30px 10px;
  text-align: center;
}

.blue {
  color:#2070e9;
}
.red {
  color:#d94739;
}
.yellow {
  color:#fdb72f;
}

small {
  font-family:Helvetica;
  font-weight: bold;
  color: #666;
}

.main {
  text-align: center;
}

.bodyDiv {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}

.inputSearch {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    /* give it dimensions */
    width: 60%;
    height: 60px;
    border-radius: 20px;
    border: 3px solid #ddd;
}

.search-input {
  position: relative;
  width: 80%;
  line-height: 20px;
  font-size: 18px;
  padding: 20px;
  margin-right: auto;
  margin-left: 0;
  margin-top: 0%;
  border-radius:20px;
  border:1px solid #000;
}

#search-img {
    position: fixed;
    width: 4.4%; /* you can use % */
    height: auto;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: auto;
    border-radius: 20px;
    border: 3px solid #ddd;
}